@font-face {
  
    font-family: 'Neuton';
    src: url("fonts/Neuton.ttf");
  }
  @font-face {
    
    font-family: 'Roboto Regular';
    src: url("fonts/Roboto-Regular.ttf");
  }
  
  @font-face {
    
    font-family: 'Poppins';
    src: url("fonts/Poppins-Regular.ttf");
  }
  
  
  